*
{
  margin: 0;
  padding 0;
  background-color: black;
}

h1
{
  color: blue;
}

p
{
  color: green;
}

/* part of the new feature branch */
.class-of-new-feature {
  width: 200px;
  height: 200px;
  background-color: red;
}
